.borderOFF {
    border : none !important;
}
.table  {  overflow-wrap: break-word !important; }
.borderButtonOFF { border-top: none !important; padding: 2rem 0rem !important}
.wrappedTXT {   overflow-wrap: break-word !important;}