.ladingPageBg { background: url('../../assets/particles1.jpg') center center; background-position: center;}




@media only screen and (min-width: 375px) {
    .gameStoreTitle {
        border-left: 5px solid red; color: white; margin: 5rem 2rem; padding: 1rem 2rem; 
   }
    
}

@media only screen and (min-width: 1280px) {
     .gameStoreTitle {
          border-left: 5px solid red; color: white; margin: 5rem 9rem; padding: 1rem 2rem; 
     }
     
 }