$mainred:rgba(255, 47, 47, 0.753); 

body {  margin : 0; padding : 0; font-family: 'Gugi', cursive !important; background: url('./assets/particles1.jpg') !important; };
// .ladingPageBg { background: black;}
a    { text-decoration : none; color : white;}

@import './Pages/LandingPage/LandingPage.scss';
@import './Components/NavbarHeader/NavbarHeader.style.scss';
@import './Components/Footer/Footer.styles.scss';
@import './Components/StoreCard/StoreCard.styles.scss';
@import './Components/ViewModal/ViewModal.scss';
@import './Components/Bestseller/bestsellerSyle.scss';
@import './Components/NewsLCard/NewsLCardStyles.scss';
@import './Components/DummyNewsCards/DummyCards.scss';
@import './Pages/SearchPage/SearchPage.scss';
@import './Components/AccountContactFormPage/AccountContactFormPage.scss';
@import './Components/NewsCardPageDetails/NewsCardPageDetails.scss';
@import './Components/../Pages/SupportPage/SupportPage.scss';
@import './Components/ModalCard/ModalCardStyling.scss';
@import './Pages/PlatformsPage/Platformsscss.scss';

//@import './Pages/CheckoutPage/checkout.scss'

// font-family: 'Staatliches', cursive